# env and secrets
.env
*.env
*.pem
*.key
id_rsa*
*.ovpn

# docker overrides
docker-compose.override.yml

# Local Terraform directories
.terraform/
*.tfstate
*.tfstate.*

# .tfvars files should not be committed if they contain secrets
*.tfvars
*.tfvars.json

# Crash log files
crash.log