services:
  api:
    image: feikovd/gamebacklog-api:latest
    restart: unless-stopped
    env_file:
      - stack.env
    ports:
      - '6543:6543'
  worker:
    image: feikovd/gamebacklog-api:latest
    restart: unless-stopped

    command: ['node', 'dist/scripts/worker.js']
    depends_on:
      - api

  user-dashboard:
    image: feikovd/gamebacklog-userdash:latest
    restart: unless-stopped
    env_file:
      - stack.env
    ports:
      - '8012:80'
    depends_on:
      - api

  dev-dashboard:
    image: feikovd/gamebacklog-devdash:latest
    restart: unless-stopped
    ports:
      - '81:80'
    depends_on:
      - api
