services:
  api:
    image: feikovd/gamebacklog-api:latest
    restart: unless-stopped
    env_file:
      - /etc/gamebacklog/production.env
    volumes:
      - /etc/gamebacklog/production.env:/app/.env:ro
    ports:
      - '6543:6543'

  worker:
    image: feikovd/gamebacklog-api:latest
    restart: unless-stopped
    env_file:
      - /etc/gamebacklog/production.env
    volumes:
      - /etc/gamebacklog/production.env:/app/.env:ro
    command: ['node', 'dist/scripts/worker.js']
    depends_on:
      - api

  user-dashboard:
    image: feikovd/gamebacklog-userdash:latest
    restart: unless-stopped
    env_file:
      - /etc/gamebacklog/production.env
    volumes:
      - /etc/gamebacklog/production.env:/app/.env:ro
    ports:
      - '8012:80'
    depends_on:
      - api
